@charset "utf-8";
/* CSS Document */
<!--
body,div{
	font-family: 宋体,font-family:Verdana, Arial, Helvetica, sans-serif;;
	font-size: 14px;
	color:#039;
}
body {
	background:#DEEEF7 url(bg.png) repeat-x;
	margin:0px;
	
}
p{ margin:0px; padding:0px;}
#box{
	position:absolute;
	left:50%;top:45%;
	width:380px;
	margin-left:-190px;
	margin-top:-95px;
}
#top{
	/*border:1px #1e7ace solid;*/
	height:30px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	color:#ffffee;
}

#top .top_l{
	background:url(titlebg_l.gif) no-repeat;
	height:30px;
	line-height:30px;
	width:6px;
	float:left;
}
#top .top_c{
	background:url(titlebg_c.gif) repeat-x;
	float:left;
	height:30px;
	line-height:30px;
	text-align:center;
	width:368px;
	font-weight:bold;
	color:#ffffee;
}
#top .top_r{
	background:url(titlebg_r.gif) no-repeat;
	height:30px;
	line-height:30px;
	float:right;
	width:6px;
}
#content{
list-style:none;
width:378px;
background:#DBEDF7;
padding:10px 0px 10px 0px;
border-left:1px #1E5288 solid;
border-right:1px #1E5288 solid;
margin:0px;
}
#content li{
list-style:none;
height:30px;
line-height:30px;
padding:0px;
margin:0px;
}
#foot{
	background:url(footer.gif) no-repeat;
	width:380px;
	height:6px;
	
	
}
#footer{
    margin-top:3px!important;
	/*background: url(foot_bg.gif) no-repeat;*/
	margin-top:-6px;
	width:380px;
	/*height:40px;*/
	line-height:30px;
	text-align:center;
	font-size:10pt;
	color:#069;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
}
#footer a{
	font-size:10pt;
	text-decoration:none;
	color:#039;
	font-family:Arial, Helvetica, sans-serif;
}
#footer a:hover{
	font-size:10pt;
	text-decoration:underline;
	color:#ff0000;
	font-family:Arial, Helvetica, sans-serif
}
.feed{
	font-size:10pt;
	text-decoration:none;
	color:#990099;
	font-family:Arial, Helvetica, sans-serif
}
.pm{width:260px;height:16px;border:1px #7F9DB9 solid; background:#FFFFFF;text-transform: uppercase;letter-spacing:2px}
.kuang{width:54px;height:16px;border:1px #7F9DB9 solid; background:#FFFFFF;text-transform: uppercase;letter-spacing:2px}

*+html .input_send{
	padding:2px 2px 0px 3px;
	border:1px solid #669;
	background: #FFFFFF url(button_bg.gif) repeat-x;
	font-size:12px;
	height:24px;
	color:#039;
	letter-spacing:2px;
	vertical-align:middle;
	margin-bottom:6px;
}
*html .input_send{
	padding:2px 2px 0px 3px;
	border:1px solid #669;
	background: #FFFFFF url(button_bg.gif) repeat-x;
	font-size:12px;
	height:24px;
	color:#039;
	letter-spacing:2px;
	vertical-align:middle;
	margin-bottom:6px;
}
.input_send{
	padding:2px 6px 3px 7px;
	border:1px solid #669;
	background: #FFFFFF url(button_bg.gif) repeat-x;
	font-size:12px;
	height:24px;
	color:#039;
	letter-spacing:2px;
	vertical-align:middle;
	margin-bottom:6px;
}
.keyword{font-size:12px;color:#036;text-align:left;width:680px;margin:20px auto 0 auto;border:1px #CCCCCC solid;background:#FFFFcc; padding:5px; line-height:20px;}
.keyword a{ font-size:12px; color:#036;text-decoration:none}
.keyword a:hover{font-size:12px; color:#c00;}
-->